.App{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.input h1{
    font-family: 'Playfair Display',serif;
    font-size: 3.5rem;
}
.input span{
   color: #f99f38;
}

.input div{
    display: flex;
    margin-bottom: 2rem;
    gap: 0.5rem;
}
.input input{
        border-radius: 10px;
        outline: 2px solid #FEBF00;
        border: 0;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background-color: #e2e2e2;
        outline-offset: 3px;
        padding: 10px 1rem;
        transition: 0.25s;
        width:50%
      }
      
      .input input:focus {
        outline-offset: 5px;
        background-color: #fff
      }


.input button{
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
}
.input button:hover{
    border: 2px solid rgb(112, 112, 154);

}


/* result */

.result{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0.5rem 1rem;
   
}
.result p{
    color: black;
    border:1px solid #f99f38;
    border-radius: 11%;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
}

.result button{
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(27, 27, 27);
    padding: 10px 30px;
    border: 1px solid;
    border-radius: 1000px;
    display: inline-block;
    transition: all .2s;
    position: relative;
}

.result button:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
}

.result button:active{
    transform: translateY(-3px);
}

.result button::after{
    content: "";
 display: inline-block;
 height: 100%;
 width: 100%;
 border-radius: 100px;
 top: 0;
 left: 0;
 position: absolute;
 z-index: -1;
 transition: all .3s;
}

.result button:hover::after{
    background-color: rgb(0, 238, 255);
    transform: scaleX(1.4) scaleY(1.5);
    opacity: 0;
}